/* @font-face {
    font-family: 'Shorif Sandwip';
    src: url('/fonts/Shorif\ Sandwip.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
};

.sandwip {
    font-family: 'Shorif Sandwip', sans-serif;
} */